<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Title Page-->
        <title>Edit Tracker</title>
        <!-- Icons font CSS-->
        <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Vendor CSS-->
        <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <!-- Main CSS-->
        <link href="/static/add_tracker.css" rel="stylesheet" media="all">
    </head>

    <body>  
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
                        <form action= '/{{username}}/tracker/{{tracker["tracker_id"]}}/edit' method="POST">
                            <h2 class="title">Edit Tracker</h2>
                            
                            <div class="row row-space">
                                <div class="col-4">
                                    <div class="input-group">
                                        <label class="label">Tracker Name</label>
                                        <input class="input--style-4" type="text" name="tracker_name" size="40" value='{{tracker["tracker_name"]}}' required>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row row-space">
                                <div class="col-8">
                                    <div class="input-group">
                                        <label class="label">Tracker Description</label>
                                        <input class="input--style-4" type="text" name="description" value='{{tracker["tracker_description"]}}' size="100">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input-group">
                                <label class="label">Tracker Type</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="tracker_type" onchange="yesnoCheck(this);"required>
                                        <option value='{{tracker["tracker_type"]}}' selected="selected">{{tracker["tracker_type"]}}</option>

                                    </select>
                                </div>
                            </div>
                            
                            <div id = "settings" style="display: none;" class="row row-space">
                                <div class="col-8">
                                    <div class="input-group">
                                        <label class="label">Settings (if any)</label>
                                        <input class="input--style-4" value='{{tracker["settings"]}}' type="text" name="settings" size="100">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            <a href=/{{username}}/trackers/display style="margin-left: 50px;">Go back to Trackers</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Jquery JS-->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="/static/vendor/select2/select2.min.js"></script>
        <!-- Main JS-->
        <script src="/static/js/add_tracker.js"></script>
    </body>

</html>
